
body{
    background-color: var(--d);
}

:root{

--b: #002642;
--r: #840032;
--d: #000814;
--o: #f9844a;

--gradient1: linear-gradient(90deg, #000814 0%, rgba(132,0,50,1) 100%);
--gradient2: linear-gradient(90deg, rgba(132,0,50,1) 0%, rgba(0,38,66,1) 100%);
}

.bg-gradient{
background: linear-gradient(90deg, #000814 0%, rgba(132,0,50,1) 100%) !important;

}

.bg-b{
    background-color: var(--b) !important;
}

.bg-r{
    background-color: var(--r) !important;
}

.bg-d{
    background-color: var(--d) !important;
}
.bg-o{
    background-color: var(--o) !important;
}

.border-r{
    border-color: var(--r);
}

.border-o{
    border-color: var(--o);
}

.border-gradient{
    border-color: linear-gradient(90deg, #000814 0%, rgba(132,0,50,1) 100%) !important;
}


.navbar-scroll{
    background:var(--gradient1);
}
.navbar{
    transition: 0.5s;
}
.navbar-rounded{
    margin: 60px 150px;
    height: 100px;
    border-radius: 50px;
    background:var(--gradient1);

}

.navbar-rounded .search{
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.navbar-scroll .search{
    height: 50px;
    margin: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.logo-custom{
    height: 40px;
    width: 125px;
}

.navbar-rounded .search-icon{
    font-size: 40px !important;
    transition: 0.2s;
}
.navbar-scroll .search-icon{
    font-size: 20px !important;
    transition: 0.2s;
}

.background-custom{
    background: url(/media/images/background1.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 9999 !important;
    height: 100px !important;
}

.form-custom{
    margin-top: 200px;
}

.carousel-gradient{
    background: linear-gradient(180deg, rgba(0,8,20,1) 0%, rgba(0,27,49,0) 50%, rgba(0,8,20,1) 100%);
}

.fs-xs{
    font-size: 12px !important;
}

.icon-custom{
    height: 30px;
    width: 30px;
}


